  .main-wrapper {
    padding-top: 45px;
    align-items: center;
    display: flex;
    height: 100%;
    margin:  auto;
    margin-left: -2%;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 1;
  }
  
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
  
  .main-container {
    flex: 1;
  }
  
  .now-playing__name {
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }
  
  .now-playing__artist {
    margin-bottom: 1em;
  }
  
  .now-playing__status {
    margin-bottom: 1em;
  }
  
  .now-playing__cover {
    border-radius: 8px;
    float: left;
    margin-right: 10px;
    text-align: right;
    width: 300px;
    height: 300px;
  }
  
  .now-playing__side {
    margin-left: 2%;
    width: 45%;
    white-space: nowrap;
  }
  
  .btn-spotify {
    position: relative;
    background-color:#ef4444;
    border-radius: 0.90rem;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-weight: bold;
    font-size:17px;
    padding:16px 31px;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
  }
  .btn-spotify:active {
    position:relative;
    background-color: #f87171;
  }
  
  img { background: transparent; }
  